<nav>
    <ul class="topnav" id="dropdownClick">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/quotes">Quotes</a></li>
        <li class="dropdownicon"><a href="javascript:void(0)" onclick="dropdownMenu()">&#9776</a></li>
    </ul>
</nav>