<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/cloud.png" type="image/png">
    <script src="js/main.js"></script>
    <title>Document</title>
</head>

<body>
    <nav>
        <ul class="topnav" id="dropdownClick">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/quotes">Quotes</a></li>
            <li class="dropdownicon"><a href="javascript:void(0)" onclick="dropdownMenu()">&#9776</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="imageContainer">
                    <img src="/images/404.jpg" alt="" width="500px">
                </div>
            </div>
            <div class="col-12">
                <div class="imageContainer">
                    <p>This page not exist</p>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>